<div
  class="
    flex h-full flex-col gap-2 overflow-y-auto bg-app-background-green
    text-app-background-white
    md:overflow-hidden md:overflow-y-hidden
  "
  data-theme="light"
>
  <!-- Statistics -->
  <div
    class="
      stats mx-2 shrink-0 stats-vertical gap-2 overflow-visible shadow-sm
      md:stats-horizontal
    "
  >
    <!-- Total -->
    <app-tasks-status-card
      icon="total"
      title="Total Tasks"
      [value]="totalTasks()"
      [description]="'All your tasks'"
      (pressed)="openModalTasksDetailsFlag('total')"
    >
      @if (tasksDetailsFlag() === 'total') {
        <app-total-tasks-details-modal [tasks]="tasks()" (closed)="tasksDetailsFlag.set(null)" />
      }
    </app-tasks-status-card>

    <!-- Pending -->
    <app-tasks-status-card
      icon="pending"
      title="Pending"
      [value]="totalPendingTasks()"
      [description]="'Tasks waiting to start'"
      (pressed)="openModalTasksDetailsFlag('pending')"
    >
      @if (tasksDetailsFlag() === 'pending') {
        <app-pending-tasks-details-modal [tasks]="tasks()" (closed)="tasksDetailsFlag.set(null)" />
      }
    </app-tasks-status-card>

    <!-- In Progress -->
    <app-tasks-status-card
      icon="in_progress"
      title="In Progress"
      [value]="totalInProgressTasks()"
      [description]="'Currently working on'"
      (pressed)="openModalTasksDetailsFlag('in_progress')"
    >
      @if (tasksDetailsFlag() === 'in_progress') {
        <app-inprogress-tasks-details-modal
          [tasks]="tasks()"
          (closed)="tasksDetailsFlag.set(null)"
        />
      }
    </app-tasks-status-card>

    <!-- Completed -->
    <app-tasks-status-card
      icon="completed"
      title="Completed"
      [value]="totalCompletedTasks()"
      [description]="completionRate() + '% completion rate'"
      (pressed)="openModalTasksDetailsFlag('completed')"
    >
      @if (tasksDetailsFlag() === 'completed') {
        <app-completed-tasks-details-modal
          [tasks]="tasks()"
          (closed)="tasksDetailsFlag.set(null)"
        />
      }
    </app-tasks-status-card>
  </div>

  <!-- Main Dashboard -->
  <div class="
    flex flex-col
    md:overflow-y-auto
  ">
    <div class="
      grid items-start gap-2
      lg:grid-cols-3
    ">
      <!-- Today's Tasks -->
      <div class="
        card shadow-sm
        lg:col-span-2
      ">
        <div class="card-body">
          <!-- Header -->
          <div class="flex items-center justify-between gap-4">
            <div>
              <h2 class="card-title">Today's Tasks</h2>
              <p class="mt-1 text-sm">Tasks you need to focus on today.</p>
            </div>

            @if (todaysTasks().length !== 0) {
              <button
                class="
                  tooltip btn tooltip-left border-none bg-app-button-purple
                  shadow-none btn-sm
                  focus-within:bg-app-button-hover-gray focus-within:outline-0
                  hover:bg-app-button-hover-gray
                  active:bg-app-button-hover-gray
                "
                data-tip="Add Task"
                aria-label="Add Button"
                style="--tt-bg: #1f585c; --tt-color: #e5e7eb"
                (click)="openModal.set('create-task-dialog')"
              >
                <svg lucidePlus />
                <span class="
                  hidden
                  sm:inline
                ">Add Task</span>
              </button>
            }
          </div>

          <!-- Tasks -->
          <div class="mt-5 flex flex-col gap-2">
            @for (task of displayedTodaysTasks(); track task.id) {
              <app-task-item
                [task]="task"
                (pressed)="openModal.set('task-details-dialog'); selectedTask.set(task)"
              />
            } @empty {
              <app-task-empty-state (pressedAddTaskBtn)="openModal.set('create-task-dialog')" />
            }
          </div>

          <!-- Footer -->
          <div class="mt-4 flex justify-end">
            <a
              routerLink="/tasks"
              class="
                flex items-center gap-1 rounded-sm px-2
                focus-within:bg-app-button-hover-gray focus-within:outline-0
                hover:bg-app-button-hover-gray
                active:bg-app-button-hover-gray
              "
            >
              View all tasks
              <svg lucideArrowRight [size]="17" class="mb-1" />
            </a>
          </div>
        </div>
      </div>

      <!-- Progress -->
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Your Progress</h2>
          <p class="text-sm">Keep up the good work!</p>

          <div class="h-10"></div>

          <!-- Radial progress -->
          <div class="flex flex-col items-center">
            <div class="flex flex-col items-center">
              <div
                class="
                  hover-shadow-drop-center radial-progress cursor-grab
                  bg-[#0E6261] text-[#00D3BB]
                "
                style="--size: 10rem; --thickness: 9px"
                [style.--value]="completionRate()"
                aria-hidden="true"
              >
                <span class="text-2xl font-bold text-app-text-white">{{ completionRate() }}%</span>
              </div>

              <progress
                class="sr-only"
                [value]="completionRate()"
                max="100"
                aria-label="Task completion rate"
              ></progress>
            </div>

            <p class="mt-5 text-sm">
              <span class="font-semibold">
                {{ totalCompletedTasks() }}
              </span>
              of
              <span class="font-semibold">
                {{ totalTasks() }}
              </span>
              tasks completed
            </p>
          </div>
        </div>
        <!-- Progress footer -->
        <div class="mx-6 mt-2 flex flex-col">
          <div class="flex items-center justify-between text-sm">
            <span class=""> Overall progress </span>
            <span class="font-medium"> {{ completionRate() }}% </span>
          </div>

          <progress
            class="progress mt-2 w-full progress-accent"
            [value]="completionRate()"
            max="100"
          ></progress>
        </div>
      </div>
    </div>

    <!-- Upcoming Tasks -->
    <div class="card">
      <div class="card-body">
        <!-- Header -->
        <div class="mt-3 flex items-center justify-between">
          <div>
            <h2 class="card-title">Upcoming Tasks</h2>

            <p class="mt-1 text-sm">What's coming next?</p>
          </div>
        </div>

        <!-- Table -->
        <div class="mt-4 overflow-x-auto">
          <table class="table">
            <thead class="text-app-text-white">
              <tr>
                <th>Task</th>
                <th>Priority</th>
                <th>Due Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              @for (upcomingTask of upcomingTasks(); track upcomingTask.id) {
                <tr
                  class="
                    group cursor-pointer transition
                    hover:rounded-2xl hover:bg-app-button-hover-gray
                    active:bg-app-button-hover-gray
                  "
                  (click)="openModal.set('task-details-dialog'); selectedTask.set(upcomingTask)"
                  tabindex="0"
                  (keydown.enter)="
                    openModal.set('task-details-dialog'); selectedTask.set(upcomingTask)
                  "
                >
                  <td class="rounded-l-md">
                    <div class="font-medium">{{ upcomingTask.name }}</div>
                  </td>

                  <td>
                    <div
                      class="font-medium"
                      [class.text-[#68F8B5]]="upcomingTask.priority === 'LOW'"
                      [class.text-[#FFD580]]="upcomingTask.priority === 'MEDIUM'"
                      [class.text-[#FF9B9B]]="upcomingTask.priority === 'HIGH'"
                    >
                      {{ upcomingTask.priority }}
                    </div>
                  </td>

                  <td>{{ upcomingTask.dueDate | date: 'short' }}</td>

                  <td class="rounded-r-md">
                    <app-tasks-status-badge [status]="upcomingTask.status" />
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

@let openedDialog = openModal();

@switch (openedDialog) {
  @case ('create-task-dialog') {
    <app-create-task-dialog
      [isClosing]="isClosing()"
      [isLoading]="isCreatingTask()"
      [errorMessage]="createTaskError()"
      (closed)="closeModal()"
      (submitted)="onTaskCreated($event)"
    />
  }

  @case ('task-details-dialog') {
    @if (selectedTask(); as task) {
      <app-task-details-dialog
        [task]="task"
        [isClosing]="isClosing()"
        [isLoading]="isUpdatingTaskStatus()"
        [errorMessage]="updateTaskStatusError()"
        (closed)="closeModal()"
        (statusChangeRequested)="onTaskUpdatedStatus($event.targetTask, $event.action)"
      />
    }
  }
}
