@let disabled = unclickable();

@switch (variant()) {
  @case ('green') {
    <button
      appButtonVariant
      [variant]="variant()"
      [type]="type()"
      (click)="pressed.emit()"
      [disabled]="unclickable()"
      [attr.aria-label]="variant() === 'green' ? 'Primary Button' : 'Cancel Button'"
    >
      @if (disabled) {
        @if (withLoadingSpinner()) {
          <span class="loading loading-sm loading-spinner"></span>
        }
      } @else {
        <ng-content select="svg" />
      }

      <ng-content select=":not(svg)" />
    </button>
  }

  @case ('delete') {
    <button
      appButtonVariant
      [variant]="variant()"
      [type]="type()"
      (click)="pressed.emit()"
      [disabled]="unclickable()"
      []="variant() === 'green' ? 'Primary Button' : 'Cancel Button'"
    >
      @if (disabled) {
        @if (withLoadingSpinner()) {
          <span class="loading loading-sm loading-spinner"></span>
        }
        Deleting...
      } @else {
        Delete
      }
    </button>
  }

  @case ('cancel') {
    <button
      appButtonVariant
      [variant]="variant()"
      [type]="type()"
      (click)="pressed.emit()"
      [disabled]="unclickable()"
      aria-label="Cancel Button"
    >
      Cancel
    </button>
  }

  @case ('close') {
    <button
      appButtonVariant
      variant="close"
      [disabled]="unclickable()"
      (click)="pressed.emit()"
      aria-label="Close Button"
    >
      <svg lucideX aria-label="Close modal" />
    </button>
  }
}
