<dialog
  #dialogRef
  class="
    fixed inset-0 m-auto flex w-full max-w-md flex-col overflow-hidden
    rounded-md bg-app-background-white p-6 text-app-text-green
  "
  [class.scale-in-center]="!isClosing()"
  [class.scale-out-center]="isClosing()"
  (cancel)="$event.preventDefault(); !isDeleting() && cancelled.emit()"
>
  <div class="flex items-start justify-between">
    <div class="flex items-center gap-3">
      <svg lucideTriangleAlert class="size-6 text-red-500" />
      <p class="text-xl font-bold">Delete Task</p>
    </div>
    <app-button
      variant="close"
      [unclickable]="isDeleting()"
      (pressed)="cancelled.emit()"
      class="-me-2 -mt-2"
    />
  </div>

  <p class="mt-4">
    Are you sure you want to delete
    <span class="font-semibold">{{ label() }}</span
    >? This action cannot be undone.
  </p>

  @if (errorMessage()) {
    <p class="mt-2 text-sm text-red-500">{{ errorMessage() }}</p>
  }

  <div class="mt-6 flex justify-end gap-3">
    <app-button variant="cancel" [unclickable]="isDeleting()" (pressed)="cancelled.emit()" />
    <app-button variant="delete" [unclickable]="isDeleting()" (pressed)="confirmed.emit(tasks())" />
  </div>
</dialog>
