<dialog
  class="fixed inset-0 z-100 bg-black/20 flex items-center justify-center p-4 w-full h-full max-w-full max-h-full"
  open
  (keydown.escape)="cancelled.emit()"
  tabindex="-1"
>
  <div
    class="flex flex-col px-6 pt-6 pb-5 bg-app-background-white text-app-text-green w-full max-w-md rounded-md"
    [class.scale-in-center]="!isClosing()"
    [class.scale-out-center]="isClosing()"
    (click)="$event.stopPropagation()"
    (keydown)="$event.stopPropagation()"
    tabindex="-1"
  >
    <div class="flex justify-between items-start">
      <div class="flex items-center gap-3">
        <svg lucideTriangleAlert class="w-6 h-6 text-red-500" />
        <p class="text-xl font-bold">Delete Task</p>
      </div>
      <button
        type="button"
        class="cursor-pointer hover:rounded-md hover:bg-gray-300"
        (click)="cancelled.emit()"
      >
        <svg lucideX />
      </button>
    </div>

    <p class="mt-4">
      Are you sure you want to delete
      <span class="font-semibold">{{ task().name }}</span
      >? This action cannot be undone.
    </p>

    @if (errorMessage()) {
      <p class="text-red-500 text-sm mt-2">{{ errorMessage() }}</p>
    }

    <div class="flex justify-end gap-3 mt-6">
      <button
        type="button"
        [disabled]="isDeleting()"
        class="btn btn-ghost border-0 shadow-none text-app-background-green gap-1.5 hover:bg-app-background-hover"
        (click)="cancelled.emit()"
      >
        Cancel
      </button>
      <button
        type="button"
        [disabled]="isDeleting()"
        class="btn bg-red-500/90 text-white border-0 hover:bg-red-500/75"
        (click)="confirmed.emit(task())"
      >
        @if (isDeleting()) {
          <span class="loading loading-spinner loading-sm"></span>
          Deleting...
        } @else {
          Delete
        }
      </button>
    </div>
  </div>
</dialog>
