<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<dialog
  #dialogRef
  class="fixed inset-0 m-auto flex flex-col bg-app-background-white text-app-text-green w-full max-w-md rounded-md overflow-hidden"
  [class.scale-in-center]="!isClosing()"
  [class.scale-out-center]="isClosing()"
  (click)="onBackdropClick($event)"
  (keydown.escape)="!isLoading() && closed.emit()"
>
  <!--Header-->
  <app-dialog-header
    [title]="task().name"
    [status]="task().status"
    [isLoading]="isLoading()"
    (closed)="closed.emit()"
  />

  <!--Content-->
  <app-dialog-content [task]="task()" [errorMessage]="errorMessage()" />

  <!--Footer-->
  <app-dialog-footer
    [task]="task()"
    [isLoading]="isLoading()"
    (cancelled)="closed.emit()"
    (statusChangeRequested)="statusChangeRequested.emit($event)"
  />
</dialog>
