<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<dialog
  #dialogRef
  class="
    fixed inset-0 m-auto flex w-full max-w-md flex-col overflow-hidden
    rounded-md bg-app-background-white text-app-text-green
  "
  [class.scale-in-center]="!isClosing()"
  [class.scale-out-center]="isClosing()"
  (click)="onBackdropClick($event)"
  (keydown.escape)="!isLoading() && closed.emit()"
>
  <!--Header-->
  <app-task-details-dialog-header
    [title]="task().name"
    [status]="task().status"
    [disableCloseButton]="isLoading()"
    (closed)="closed.emit()"
  />

  <!--Content-->
  <app-task-details-dialog-content [task]="task()" />

  <!--Footer-->
  <app-task-details-dialog-footer
    [task]="task()"
    [isLoading]="isLoading()"
    (cancelled)="closed.emit()"
    (statusChangeRequested)="statusChangeRequested.emit($event)"
  />
</dialog>
