@switch (status()) {
  @case ('PENDING') {
    <div
      class="
        inline-flex items-center gap-2 rounded-sm bg-[#f4ff9d] px-2 text-[13px]
        font-medium whitespace-nowrap text-app-text-green
      "
    >
      <svg lucideClock5 [size]="17" class="shrink-0" />
      <p>{{ (status() | titlecase).replace('_', ' ') }}</p>
    </div>
  }
  @case ('IN_PROGRESS') {
    <div
      class="
        inline-flex items-center gap-2 rounded-sm bg-[#c5c8fc] px-2 text-[13px]
        font-medium whitespace-nowrap text-app-text-green
      "
    >
      <svg lucideCircleEllipsis [size]="17" class="shrink-0" />

      <p>{{ (status() | titlecase).replace('_', ' ') }}</p>
    </div>
  }
  @case ('COMPLETED') {
    <div
      class="
        inline-flex items-center gap-2 rounded-sm bg-[#68f8b5] px-2 text-[13px]
        font-medium whitespace-nowrap text-app-text-green
      "
    >
      <svg lucideCircleCheck [size]="17" class="shrink-0" />
      <p>{{ (status() | titlecase).replace('_', ' ') }}</p>
    </div>
  }
}
