@if (!selectedTask()) {
  @for (task of tasks(); track task.id) {
    <button
      type="button"
      class="
        flex w-full cursor-pointer items-center gap-3 rounded-lg p-2.5 text-left
        transition-colors duration-200
        hover:bg-app-background-hover
        focus-visible:bg-app-background-hover focus-visible:outline-0
        active:bg-app-background-hover
      "
      [class.slide-in-right]="isEnteringDetail()"
      (click)="selectedTask.set(task)"
    >
      @switch (icon()) {
        @case ('completed') {
          <svg lucideCircleCheck />
        }
        @case ('pending') {
          <svg lucideClock5 />
        }
        @case ('overdue') {
          <svg lucideTriangleAlert />
        }
        @case ('upcoming') {
          <svg lucideCalendarClock />
        }
        @case ('high_priority') {
          <svg lucideFlagTriangleRight />
        }
        @case ('due_today') {
          <svg lucideAlarmClock />
        }
        @case ('in_progress') {
          <svg lucideCircleEllipsis />
        }
        @case ('completed_today') {
          <svg lucideBadgeCheck />
        }
        @case ('completed_this_week') {
          <svg lucideCalendarCheck />
        }
      }
      <p class="truncate text-sm font-medium">{{ task.name }}</p>
    </button>
  } @empty {
    <div
      class="
        flex h-full flex-col items-center justify-center gap-2 text-center
      "
      [class.slide-in-right]="isEnteringDetail()"
    >
      <svg lucideGhost />

      <p class="text-sm font-semibold">{{ titleWhenEmpty() }}</p>

      <p class="text-xs text-base-content/60">{{ descriptionWhenEmpty() }}</p>
    </div>
  }
} @else {
  <div
    class="relative flex h-50 min-h-50 flex-col bg-app-background-white p-4"
    [class.slide-in-right]="isEnteringDetail()"
  >
    <div class="
      min-h-0 flex-1 overflow-x-hidden overflow-y-auto pr-2 text-app-text-green
    ">
      <h3 class="text-base/tight font-bold">
        {{ selectedTask()?.name }}
      </h3>

      @if (selectedTask()?.description) {
        <p class="
          mt-2 text-sm/relaxed wrap-break-word text-base-content/65 italic
        ">
          {{ selectedTask()?.description }}
        </p>
      } @else {
        <p class="mt-2 text-sm text-base-content/40 italic">No description provided.</p>
      }
    </div>

    <div class="absolute right-4 bottom-2 flex gap-2">
      <button
        type="button"
        class="
          btn gap-1.5 btn-ghost btn-sm
          hover:bg-app-background-hover
          focus-visible:bg-app-background-hover focus-visible:outline-0
          active:bg-app-background-hover
        "
        (click)="selectedTask.set(null)"
      >
        <span>Back</span>
      </button>
      <a
        routerLink="/tasks"
        [queryParams]="{ taskId: selectedTask()?.id }"
        class="
          btn gap-1.5 border-0 shadow-sm btn-accent btn-sm
          hover:bg-app-background-hover
          focus-visible:bg-app-background-hover focus-visible:outline-0
          active:bg-app-background-hover
        "
      >
        <span>Go to Tasks</span>
      </a>
    </div>
  </div>
}
