<div #calendarRef class="flex flex-wrap text-[17px] w-fit items-center gap-2">
  <label for="due" class="inline-flex items-center gap-3">Due:</label>

  <div class="flex items-center border-b h-7">
    <input
      id="due"
      type="text"
      placeholder="Enter task due date"
      class="outline-none bg-transparent border-0"
      readonly
      [value]="selectedDate() | date: 'MMM d, y, h:mm a'"
    />

    @if (!selectedDate()) {
      <button
        type="button"
        aria-label="Calendar Button"
        class="btn-circle cursor-pointer hover:rounded-md hover:bg-gray-300"
      >
        <svg lucideCalendarDays size="20" />
      </button>
    } @else {
      <!--Clear button-->
      <button
        type="button"
        aria-label="Clear selected date"
        (click)="$event.stopPropagation(); dateSelected.emit(''); selectedDate.set('')"
        class="btn-circle cursor-pointer hover:rounded-md hover:bg-gray-300"
      >
        <svg lucideX size="20" />
      </button>
    }
  </div>
</div>
