<div class="mx-auto flex size-full flex-col text-app-text-white">
  <!--Tab list-->
  <div class="tabs tabs-border mb-3 shrink-0 flex-nowrap gap-1 overflow-x-auto">
    <!--All-->
    <label class="tab shrink-0 gap-1 text-[15px] whitespace-nowrap">
      <input type="radio" name="my_tabs_4" checked="checked" (change)="selectedTab.set('all')" />
      <svg lucideClipboardList class="size-5" />
      All
    </label>
    <!--Pending-->
    <label class="tab shrink-0 gap-1 text-[15px] whitespace-nowrap">
      <input type="radio" name="my_tabs_4" (change)="selectedTab.set('pending')" />
      <svg lucideClock5 class="size-5" />
      Pending
    </label>
    <!--In progress-->
    <label class="tab shrink-0 gap-1 text-[15px] whitespace-nowrap">
      <input type="radio" name="my_tabs_4" (change)="selectedTab.set('in_progress')" />
      <svg lucideCircleEllipsis class="size-5" />
      In Progress
    </label>
    <!--Completed-->
    <label class="tab shrink-0 gap-1 text-[15px] whitespace-nowrap">
      <input type="radio" name="my_tabs_4" (change)="selectedTab.set('completed')" />
      <svg lucideCircleCheck class="size-5" />
      Completed
    </label>
  </div>

  <div class="flex flex-col overflow-y-auto">
    <!--list of Task-->
    @for (task of tasksToDisplay(); track task.id) {
      <div
        class="
          group relative flex items-center justify-between rounded-md
          focus-within:bg-app-button-hover-gray
          hover:bg-app-button-hover-gray
          active:bg-app-button-hover-gray
        "
      >
        <!--Clickable task info-->
        <button
          type="button"
          class="
            flex flex-1 items-center justify-between rounded-md p-4 text-left
            focus:outline-none
          "
          (click)="selectedModal.set('task-details-dialog'); selectedTask.set(task)"
        >
          <div class="flex flex-col">
            <p class="
              font- line-clamp-2 font-sora text-[15px] font-medium
              text-app-text-white
            ">
              {{ task.name | titlecase }}
            </p>
            <div class="mt-3 flex items-center gap-3">
              <app-tasks-status-badge [status]="task.status" />
              <p class="
                text-xs font-light
                md:text-[14px] md:font-medium
              " [class.text-[#fca5a5]]="isOverdue(task)">
                Due: {{ task.dueDate | date: 'medium' }}
              </p>
            </div>
          </div>
        </button>

        <div
          class="
            absolute right-0 flex gap-3 pr-4 opacity-0
            group-focus-within:opacity-100
            group-hover:opacity-100
          "
        >
          <!--Edit Button-->
          <button
            type="button"
            class="
              btn btn-circle border-0 bg-[#00D3BB] text-app-text-green btn-sm
              hover:bg-[#15c2ae]
            "
            (click)="selectedModal.set('edit-task-dialog'); selectedTask.set(task)"
          >
            <svg lucideSquarePen class="size-4" />
          </button>

          <!--Delete Button-->
          <button
            type="button"
            class="
              btn btn-circle border-0 bg-red-500/90 text-app-text-white btn-sm
              hover:bg-red-500/75
            "
            (click)="selectedModal.set('delete-task-dialog'); selectedTask.set(task)"
          >
            <svg lucideTrash2 class="size-4" />
          </button>
        </div>
      </div>
    } @empty {
      <div class="
        bg flex h-screen flex-col items-center justify-center overflow-hidden
      ">
        <img
          [src]="emptyState().image"
          alt="Empty state"
          width="400"
          height="400"
          class="max-h-full max-w-full object-contain"
          [class]="emptyState().imageWidth"
        />
        <p class="text-[18px] font-extralight italic">{{ emptyState().message }}</p>
      </div>
    }

    <!-- Floating "Add Task" button, fixed to bottom-right corner of the viewport -->
    <div class="fixed right-0 bottom-0 mr-9 mb-12">
      <button
        class="
          btn border-none bg-app-button-purple text-app-text-green btn-md
          hover:bg-app-button-hover-gray
        "
        (click)="selectedModal.set('create-task-dialog')"
      >
        <svg lucidePlus />
        <span class="
          hidden
          sm:inline
        ">Add Task</span>
      </button>
    </div>
  </div>
</div>

<!--Task details dialog-->
@if (selectedModal() === 'task-details-dialog' && selectedTask(); as task) {
  <app-task-details-dialog
    [task]="task"
    [isClosing]="closedModal()"
    [isLoading]="isUpdatingTaskStatus()"
    [errorMessage]="updateTaskStatusError()"
    (closed)="closeModal()"
    (statusChangeRequested)="onTaskUpdatedStatus($event.targetTask, $event.action)"
  />
}

<!--Create task dialog-->
@if (selectedModal() === 'create-task-dialog') {
  <app-create-task-dialog
    [isClosing]="closedModal()"
    [isLoading]="isCreatingTask()"
    [errorMessage]="createTaskError()"
    (closed)="closeModal()"
    (submitted)="onTaskCreated($event)"
  />
}

<!--Delete task confirmation dialog-->
@if (selectedModal() === 'delete-task-dialog' && selectedTask(); as task) {
  <app-delete-task-dialog
    [task]="task"
    [isClosing]="closedModal()"
    [isDeleting]="isDeletingTask()"
    [errorMessage]="deleteTaskError()"
    (cancelled)="closeModal()"
    (confirmed)="onTaskDeleted($event)"
  />
}

@if (selectedModal() === 'edit-task-dialog' && selectedTask(); as task) {
  <app-edit-task-dialog
    [task]="task"
    [isClosing]="closedModal()"
    [isUpdating]="isUpdatingTask()"
    [errorMessage]="updateTaskError()"
    (cancelled)="closeModal()"
    (submitted)="onTaskUpdated($event.taskId, $event.req)"
  />
}
