<div class="fixed inset-0 z-100 bg-black/20 flex items-center justify-center p-4">
  <!--Modal-->
  <div
    class="flex flex-col px-6 pt-6 bg-app-background-white text-app-text-green w-full max-w-md min-h-100 rounded-md"
    [class.scale-in-center]="!isClosing()"
    [class.scale-out-center]="isClosing()"
    (click)="$event.stopPropagation()"
  >
    <!--Modal header-->
    <div class="flex justify-between">
      <div class="flex flex-col gap-1">
        <p class="text-2xl font-bold">Create Task</p>
        <p>Create a new task and keep yourself organized.</p>
      </div>
      <svg
        lucideX
        class="cursor-pointer hover:rounded-md hover:bg-gray-300"
        (click)="cancelled.emit()"
      />
    </div>

    <!--Modal Content-->
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="flex flex-col flex-1 gap-6 mt-5">
      <!--Task name-->
      <div class="flex flex-col gap-1">
        <input
          type="text"
          formControlName="name"
          placeholder="Task name"
          class="border-b me-2 h-7 text-lg outline-none"
        />
        @if (taskForm.controls.name.invalid && taskForm.controls.name.touched) {
          <span class="text-red-500 text-sm">Task name is required.</span>
        }
      </div>

      <!--Task Description-->
      <input
        type="text"
        formControlName="description"
        placeholder="Description (optional)"
        class="border-b me-2 h-7 text-lg outline-none"
      />

      <!--Task Priority-->
      <div class="flex items-center justify-start gap-3 text-[17px]">
        <span>Priority</span>

        <label class="flex items-center text-sm gap-1">
          <input type="radio" formControlName="priority" value="LOW" />
          Low
        </label>

        <label class="flex items-center text-sm gap-1">
          <input type="radio" formControlName="priority" value="MEDIUM" />
          Medium
        </label>

        <label class="flex items-center text-sm gap-1">
          <input type="radio" formControlName="priority" value="HIGH" />
          High
        </label>
      </div>
      <div class="flex flex-wrap gap-6 text-[17px]">
        <!--Task Due date-->
        <div class="flex flex-col gap-1">
          <label class="inline-flex items-center gap-3">
            Due date
            <input
              type="date"
              formControlName="dueDate"
              class="border-b h-7 w-35 outline-none bg-transparent"
            />
          </label>
          <span class="text-red-500 text-sm">Due date is required.</span>
        </div>

        <!--Task Due time-->
        <div class="flex flex-col gap-1">
          <label class="inline-flex items-center gap-3">
            Due time
            <input
              type="time"
              formControlName="dueTime"
              class="border-b h-7 w-35 outline-none bg-transparent"
            />
          </label>
          <span class="text-red-500 text-sm">Due time is required.</span>
        </div>
      </div>

      @if (errorMessage()) {
        <p class="text-red-500 text-sm">{{ errorMessage() }}</p>
      }

      <!--Modal Footer-->
      <div class="flex justify-end gap-3 mt-auto mb-5">
        <button
          class="btn btn-ghost border-0 shadow-none text-app-background-green gap-1.5 hover:bg-app-background-hover"
          [disabled]="isLoading()"
          (click)="cancelled.emit()"
        >
          Cancel
        </button>
        <button
          type="submit"
          [disabled]="isLoading()"
          class="btn btn-accent hover:bg-app-background-hover disabled:bg-app-background-hover disabled:text-app-text-green"
        >
          @if (isLoading()) {
            <span class="loading loading-spinner loading-sm"></span>
            Saving...
          } @else {
            Save
          }
        </button>
      </div>
    </form>
  </div>
</div>
